.Orders {
    margin-top: 170px;
    width: 70%;
    margin-left: 15%;
}

.Orders h1 {
    display: inline-block;
    width: 30%;
    margin-left: 35%;
    font-weight: normal;
    text-align: center;
    transition-duration: 1s;
    border-radius: 20px;
    height: 50px;
    border: 1px solid #d58c05;
    animation: shadow 1s infinite alternate;
    transform: scale(1.1);
}

.Orders h1:hover {

}

@keyframes shadow {
    from {
        box-shadow: 0 0 5px 2px #d58c05;
    }
    to {
        box-shadow: 0 0 9px 3px gold;
    }
}