.PopupButton {
    margin-top: 3%;
    display: inline-block;
    width: 30%;
    margin-left: 13%;
    margin-bottom: 3%;
    border: 2px solid #d58c05;
    border-radius: 20px;
    font-size: 200%;
    text-align: center;
    height: 5%;
    transition-duration: 1s;
}

.PopupButton:hover {
    background-color: #d58c05;
}

.PopupButtonDisabled {
    border: 2px solid #d51400;
}

.PopupButtonDisabled:hover {
    background-color: #d51400;
}


