.CheckoutButton {
    display: inline-block;
    width: 10%;
    margin-top: 1%;
    margin-left: 37%;
    border: 3px solid transparent;
    border-top: 3px solid #C0C0C0;
    border-bottom: 3px solid #C0C0C0;
    text-align: center;
    font-size: calc(0.9em + 1vw);
    border-radius: 30px;
    transition-duration: 1s;
    line-height: 180%;

}

.CheckoutButton:hover {
    border: 3px solid #d58c05;

}

.CheckoutButton:last-of-type {
    margin-left: 5%;
}

.CheckoutPanel {
    margin-bottom: 50px;
}

.CheckoutPanel p {
    display: block;
    height: 50px;
    font-size: 300%;
    margin: 1% 0 1% 30%;
    text-align: center;
    width: 40%;
}